@font-face {
  font-family: 'Neucha';
  src: url("assets/fonts/Neucha-Regular.ttf");
  font-weight: 400;
}

* {
  box-sizing: border-box;
}

:root {
  --color-accent: #333333;
}

h1,
h2,
p {
  margin: 0;
}

body {
  margin: 0;
  padding: 0 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Neucha', cursive;
  font-size: 30px;
  color: white;
  background-color: var(--color-accent);
}

a {
  color: white;
  text-decoration: none;
}

.btn {
  padding: 6px 24px;
  border: 2px solid white;
  border-radius: 5px;
  font-size: 22px;
  font-family: inherit;
  color: var(--color-accent);
  text-transform: uppercase;
  background-color: white;
  transition: .3s;
}

.btn:hover {
  color: white;
  background-color: var(--color-accent);
  cursor: pointer;
}

.main {
  min-height: calc(100vh - 80px);
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game {
  text-align: center;
}

.game__title {
  margin-bottom: 20px;
  font-family: inherit;
  font-weight: 400;
  color: inherit;
  text-transform: uppercase;
}

.game__field {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('./assets/img/svg/moon.svg') no-repeat center;
  background-size: cover;
}

.game__field-inner {
  width: calc(75px * 3);
  height: calc(75px * 3);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.game__field-cell {
  width: 75px;
  height: 75px;
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;
  transition: .3s;
}

.game__field-cell:nth-child(-n + 6) {
  border-bottom: 2px dashed var(--color-accent);
}

.game__field-cell:nth-child(3n + 2),
.game__field-cell:nth-child(3n + 3) {
  border-left: 2px dashed var(--color-accent);
}

.game__field-cell:hover {
  box-shadow: 0px 0px 0px 2px white inset;
  cursor: pointer;
}

.game__field-cell--astronaut {
  background-image: url("./assets/img/svg/astronaut.svg");
}

.game__field-cell--alien {
  background-image: url("./assets/img/svg/alien.svg");
}

.game__field-cell--astronaut:hover,
.game__field-cell--alien:hover {
  box-shadow: none;
  cursor: not-allowed;
}

.footer {
  height: 80px;
  border-top: 2px dashed white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
  font-size: 24px;
}

.footer__year {
  margin-right: auto;
}

.footer__rss {
  width: 100px;
  height: 37px;
  background: url("./assets/img/svg/rs_school_js.svg") no-repeat center;
  background-size: cover;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 0 20px;
  overflow: auto;
  color: var(--color-accent);
  background-color: rgba(3, 3, 3, 0.4);
}

.modal__content {
  max-width: 500px;
  min-width: 300px;
  margin: auto;
  padding: 20px;
  border: 1px solid var(--color-accent);
  border-radius: 10px;
  background-color: white;
}

.modal__header {
  display: flex;
  justify-content: space-between;
}

.modal__title {
  font-family: inherit;
  font-weight: inherit;
  font-size: 34px;
}

.modal__btn-close {
  margin-left: auto;
  border: none;
  font-family: inherit;
  font-size: 28px;
  color: inherit;
  background-color: white;
}

.modal__btn-close:hover,
.modal__btn-close:focus {
  cursor: pointer;
}

.animate-opacity {
  animation: opac .8s;
}

@keyframes opac {
  from { opacity: 0 }
  to { opacity: 1 }
}

.modal__body {
  padding: 20px 0;
}

.modal__text {
  padding-bottom: 80px;
  font-size: 24px;
  background-position: bottom;
  background-size: 50px;
  background-repeat: no-repeat;
  text-align: center;
}

.modal__text--astronaut {
  background-image: url("./assets/img/svg/astronaut-avatar.svg");
}

.modal__text--alien {
  background-image: url("./assets/img/svg/alien-avatar.svg");
}

.modal__text--draw {
  background-image: url("./assets/img/svg/draw.svg");
}

.modal__text-span {
  display: inline-block;
  width: 100%;
  font-size: 20px;
  line-height: 28px;
}
